.HomeBanner{
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 5px;
  text-align: left;
  place-items: center;
  background-color: lightblue;
}

.BannerText{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 30px;
  padding: 0px 2vw;
}

.BannerText h1{
  font-size: 60px;
  color: lightslategray;
  text-decoration: underline;
}

.BannerText p{
  font-size: 18px;
}

.BannerButton{
  background-color: #fc6a03;
  color: white;
  width: max-content;
  padding: 8px;
  border-radius: 10px;
  font-weight: 600;
}

.HomeBanner img{
  width: 100%;
  aspect-ratio: 4/3;
}